<div class="row m-twenty">
	<div class="col-lg-4">
		<div class="widget">
			<div class="widget-title">
				<h5>Version</h5>
			</div>
			<div class="widget-content row">
				<div class="col-lg-6">
					<span class="version">{{versions.version}}</span>
				</div>
				<div class="col-lg-6">
					{{versions.install_date}}
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-4">
		<div class="widget">
			<div class="widget-title">
				<h5>Licence</h5>
			</div>
			<div class="widget-content"></div>
		</div>
	</div>

	<div class="col-lg-4">
		<div class="widget">
			<div class="widget-title"></div>
			<div class="widget-content"></div>
		</div>
	</div>
	
</div>